<ion-header>
  <ion-toolbar>
    <ion-title>Similarity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Find the ultimate synonyms</ion-card-subtitle>
      <ion-card-title>Search</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Enter a word here!</ion-label>
        <ion-input (ionChange)="find()" required type="text" [(ngModel)]="word"></ion-input>
        <ion-icon (click)="record()" name="mic-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item *ngFor="let syn of synonyms">
  <div  *ngIf="this.synonyms"  >
    <ion-icon name="rocket-outline" slot="start"></ion-icon>
    <ion-chip color="secondary">
      <ion-label color="dark">{{syn.word}}</ion-label>
    </ion-chip>
    <br/>
  </div>
  </ion-item>

</ion-content>
