<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Similarity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Similarity</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Looking to find synonyms?</strong>
    <p>Start with <a rel="noopener noreferrer" routerLink="/search" routerLinkActive="active">Similarity</a></p>
  </div>
</ion-content>
